<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallrig.mall.template.mapper.OrderMapper">

    <insert id="save" parameterType="com.smallrig.mall.template.entity.Order">
        INSERT INTO sorder
        (id,`order_sn`,`product_id`,`user_id`,`buy_num`)
        VALUES(#{id},#{orderSn},#{productId},#{userId},#{buyNum});
    </insert>

    <insert id="saveBatch" parameterType="com.smallrig.mall.template.entity.Order" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sorder (`order_sn`,`product_id`,`user_id`,`buy_num`)
        values
        <foreach collection="list" item="order" separator=",">
            (#{order.orderSn,jdbcType=BIGINT},#{order.productId,jdbcType=INTEGER},#{order.userId,jdbcType=INTEGER},#{order.buyNum,jdbcType=INTEGER})
        </foreach>

    </insert>


</mapper>