<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smallrig.mall.template.mapper.OrderMapper">

    <insert id="save" parameterType="com.smallrig.mall.template.entity.Order">
        INSERT INTO sorder
        (id,`name`,`product_id`,`user_id`,`buy_num`)
        VALUES(#{id},#{name},#{productId},#{userId},#{buyNum});
    </insert>

    <insert id="saveBatch" parameterType="com.smallrig.mall.template.entity.Order" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into sorder (`name`,`product_id`,`user_id`,`buy_num`)
        values
        <foreach collection="list" item="order" separator=",">
            (#{order.name,jdbcType=VARCHAR},#{order.productId,jdbcType=INTEGER},#{order.userId,jdbcType=INTEGER},#{order.buyNum,jdbcType=INTEGER})
        </foreach>

    </insert>

    <update id="updateById" parameterType="com.smallrig.mall.template.entity.Order">
        update  sorder set name = #{name} where id  = #{id}
    </update>


    <select id="selectById" resultType="com.smallrig.mall.template.entity.Order" useCache="false">
        select * from sorder where  id != #{param1}
    </select>
</mapper>